@use '../helpers' as *;

button.scroll-up {
  // circle
  --color-scroll-up-bcg: #ffffff;
  --color-scroll-up-path: #ffd11a;
  --color-scroll-up-progress: #989191;
  --scroll-up-progress-width: 0.18rem;

  position: fixed;
  z-index: 10;
  right: 2rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  color: var(--color-scroll-up-progress);
  background-color: var(--color-scroll-up-bcg);
  border-radius: 3rem;
  box-shadow: inset 0 0 0 var(--scroll-up-progress-width)
    var(--color-scroll-up-progress);
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(1.6rem);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    background: url('../assets/img/root/scroll-up.svg') center no-repeat;
    transform: rotate(-90deg);
  }

  @include hover {
    color: var(--color-scroll-up-path);
  }

  &__path {
    // scroll indication
    box-sizing: border-box;
    transition: stroke-dashoffset 0.3s ease;
    fill: none;
    stroke: var(--color-scroll-up-path);
    stroke-width: var(--scroll-up-progress-width);
  }
}

button.scroll-up--active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

@media (width <= 450px) {
  button.scroll-up {
    right: 1.5rem;
    bottom: 1.5rem;
  }
}
